@use 'sass:math';

// インナー幅
$innerWidth: 1280px;

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

// フォント
$font-main: 'Zen Maru Gothic', sans-serif;

// 色指定
$white: #fff;
$text: #555;
$logo_green: #8ECFC4;
$logo_yellow_green: #D2E991;
$bg_green: #EDF8F6;
$logo_yellow_green: #FAFDF2;
$form_bg_grey: #F7F7F7;
$form_tag_grey: #999999;
$form_tag_red: #E87F71;
$btn_pink: #F8C2BB;
$line_grey: #E6E6E6;

// ブレイクポイント
$breakpoints: (
  sm: 600,
  md: 768,
  lg: 1024,
  xl: 1440,
);

// メディアクエリ
$mediaquerys: (
  sm: "screen and (min-width: #{map-get($breakpoints,'sm')}px)",
  md: "screen and (min-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (min-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (min-width: #{map-get($breakpoints,'xl')}px)",
);

// メディアクエリを "@include mq(){}" で書くことができる
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}