@use "global" as *;

.c-btn-large{
  font-family: $font-main;
  font-size: myrem(28);
  font-weight: 500;
  line-height: calc(41 / 28);
  letter-spacing: 0;
  color: $white;
  background-color: $logo_green;
  display: inline-block;
  padding: myrem(45) myrem(56);
  min-width: initial;
  max-width: myrem(500);
  width: 100%;
  border-radius: myrem(16);
  position: relative;
  transition: all .3s;
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  
  @include mq("md"){
    min-width: myrem(500);
  }
}
.c-btn-large::before{
  content: attr(data-en);
  display: inline-block;
  font-family: $font-main;
  font-size: myrem(12);
  font-weight: 500;
  line-height: calc(17 / 12);
  letter-spacing: 0;
  color: $white;
  text-transform: capitalize;
  margin-top: myrem(12);
}
@media (hover: hover) and (pointer: fine) {
  .c-btn-large:hover{
    opacity: 0.7;
  }
}
.c-btn-large::after{
  content: "";
  display: inline-block;
  width: myrem(14);
  height: myrem(23);
  background: url(../images/icon_arrow.png) no-repeat center center/contain;
  position: absolute;
  top: 50%;
  right: myrem(32);
  transform: translateY(-50%);
  transition: all .3s;
}
@media (hover: hover) and (pointer: fine) {
  .c-btn-large:hover:after{
    right: myrem(20);
  }
}
.c-btn-large.c-btn-large--pink{
  background-color: $btn_pink;
}