@use "global" as *;

.c-btn-large{
  font-family: $font-main;
  font-size: rem(28);
  font-weight: 500;
  line-height: calc(41/28);
  letter-spacing: 0;
  color: $white;
  background-color: $logo_green;
  display: inline-block;
  padding: rem(45) rem(56);
  min-width: rem(500);
  border-radius: rem(16);
  position: relative;
  transition: all .3s;
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}
.c-btn-large::before{
  content: attr(data-en);
  display: inline-block;
  font-family: $font-main;
  font-size: rem(12);
  font-weight: 500;
  line-height: calc(17/12);
  letter-spacing: 0;
  color: $white;
  text-transform: capitalize;
  margin-top: rem(12);
}
.c-btn-large:hover{
  opacity: 0.7;
}
.c-btn-large::after{
  content: "";
  display: inline-block;
  width: rem(14);
  height: rem(23);
  background: url(../images/icon_arrow.png) no-repeat center center/contain;
  position: absolute;
  top: 50%;
  right: rem(32);
  transform: translateY(-50%);
  transition: all .3s;
}
.c-btn-large:hover:after{
  right: rem(20);
}
.c-btn-large.c-btn-large--pink{
  background-color: $btn_pink;
}