@use "global" as *;

.c-text-link{
  font-family: $font-main;
  font-size: rem(14);
  font-weight: 400;
  line-height: calc(23 / 14);
  letter-spacing: 0.04em;
  color: $text;
  min-width: rem(207);
  padding-right: rem(76);
  display: inline-flex;
  align-items: center;
  position: relative;
  transition: all .3s;
}
.c-text-link:hover{
  opacity: 0.7;
}
.c-text-link::after{
  content: "";
  display: inline-block;
  width: rem(48);
  height: rem(1);
  background-color: $text;
  position: absolute;
  right: rem(12);
  transition: all .3s;
}
.c-text-link:hover::after{
  right: 0;
}