@use "global" as *;

.c-wave {
  width: 100%;
  position: absolute;
  top: -43px;
  left: 0px;
  right: 0;
  --size: 25px;
  --p: 25px;
  --R: 34.9px;
  height: 80px;
  margin-bottom: -50px;
  
  @include mq("md"){
    height: 100px;
  }
}
.c-wave + .c-wave {
background-repeat: repeat-x;
}
.c-wave{
  -webkit-mask:
    radial-gradient(var(--R) at 50% calc(var(--size) + var(--p)),blue 99%,#0000 101%) 50% 0/calc(4*var(--size)) 100%,
    radial-gradient(var(--R) at 50% calc(-1*var(--p)),#0000 99%,red 101%) calc(50% - 2*var(--size)) var(--size)/calc(4*var(--size)) 100% repeat-x;
  background-color: #EDF8F6;
  // background-color: red;
  border: none;
}