@use "global" as *;

.c-wave {
  width: 100%;
  position: absolute;
  top: -43px;
  left: 0px;
  right: 0;
  height: 80px;
  margin-bottom: -50px;
  
  @include mq("md"){
    height: 100px;
  }
}
.c-wave + .c-wave {
background-repeat: repeat-x;
}
.c-wave{
  -webkit-mask:
    radial-gradient(34.9px at 50% calc(25px + 25px),blue 99%,#0000 101%) 50% 0/calc(4*25px) 100%,
    radial-gradient(34.9px at 50% calc(-1*25px),#0000 99%,red 101%) calc(50% - 2*25px) 25px/calc(4*25px) 100% repeat-x;
  background-color: #EDF8F6;
  border: none;
}