@use "global" as *;

.p-contact{

}
.p-contact__inner{
  max-width: myrem(1090);
}
.p-contact__title--bar{
  display: block;
  width: myrem(1);
  height: myrem(80);
  background-color: #999999;
  margin-top: myrem(32);
  margin-left: auto;
  margin-right: auto;
}

.p-contact__textbox{
  text-align: center;
  margin-top: myrem(40);
}

.p-contact__text{
  font-family: $font-main;
  font-size: myrem(16);
  font-weight: 400;
  line-height: calc(30 / 16);
  letter-spacing: 0.02em;
  color: $text;
}
.p-contact__tel {
  display: inline-block;
  font-family: $font-main;
  font-size: myrem(24);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.03em;
  color: $text;
  margin-top: myrem(32);
  box-decoration-break: clone;
  // -webkit-box-decoration-break: clone;
  border-radius: myrem(2);
  box-shadow: inset 1px 1.2em 0px 0 #fff, inset 0 0 0 1em rgba($color: #D2E991, $alpha: 0.5);
  
  @include mq("md"){
    margin-top: myrem(32);
    font-size: myrem(24);
  }
}
.p-contact__tel span{
  font-size: myrem(38);
  line-height: 1;
  @include mq("md"){
    font-size: myrem(38);
  }
}

.p-contact__form{
  width: 100%;
  margin-top: myrem(92);
  border: 5px solid #E6E6E6;
}
.p-contact__form-title{
  margin-top: myrem(30);
  
  @include mq("md"){
    margin-top: myrem(76);
  }
}
.p-contact__form-body{
  padding: myrem(25);

  @include mq("md"){
    padding: myrem(80);
    padding-top: myrem(25);
    padding-left: myrem(75);
  }
}
.p-contact__box{
  display: block;
  width: 100%;
  border-bottom: 1px solid #E6E6E6;
  padding: myrem(20) 0;
  
  @include mq("md"){
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: myrem(31) 0;
  }
}
.p-contact__box-radio{
  width: 100%;
  max-width: myrem(646);
  display: flex;
  flex-direction: column;
  row-gap: myrem(10);
  column-gap: 0;
  
  @include mq("md"){
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: myrem(35);
    row-gap: 0;
  }
}
.p-contact__radio-button{
  display: flex;
  align-items: center;
}
.p-contact__radio-button input{
  accent-color: gray;
  inline-size: myrem(23);
  block-size: myrem(23);
  margin-right: myrem(12);
}
.p-contact__box:nth-last-child(2){
  padding-bottom: 0;
  border-bottom: none;
  align-items: flex-start;
}
.p-contact__label{
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: myrem(10);
  
  @include mq("md"){
    margin-bottom: myrem(0);
  }
}
.p-contact__label::before{
  content: attr(data-mark);
  display: inline-block;
  width: myrem(36);
  padding: myrem(3) 0;
  background-color: #E87F71;
  font-family: $font-main;
  font-size: myrem(10);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  color: $white;
  text-align: center;
  border-radius: myrem(1);
  margin-right: myrem(8);
}
.p-contact__label.p-contact__label--gray::before{
  background-color: #999999;
}
.p-contact__input{
  width: 100%;
  max-width: myrem(646);
  border: none;
  background-color: #F7F7F7;
  line-height: myrem(30);
  border-radius: myrem(8);
  padding: myrem(8);
  outline: none;
}
.p-contact__input:active,
.p-contact__input:focus{
  outline: myrem(2) solid #999999;
}
.p-contact__box textarea{
  height: myrem(240);
}
.p-contact__submit{
  margin-top: myrem(55);
  text-align: center;
}
.p-contact__submit input{
  font-family: $font-main;
  font-size: myrem(16);
  font-weight: 500;
  line-height: calc(23 / 16);
  letter-spacing: 0;
  color: $white;
  text-align: center;
  background-color: $logo_green;
  display: inline-block;
  padding: myrem(24) myrem(80);
  min-width: myrem(224);
  border-radius: myrem(36);
  position: relative;
  transition: all .3s;
}
.p-contact__submit input:hover{
  cursor: pointer;
  opacity: 0.7;
}

.p-contact__message{
  text-align: center;
}
.p-contact__end-message {
  display: none;
  margin-bottom: myrem(50);
}
.p-contact__false-message {
  display: none;
  margin-bottom: myrem(50);
}