@use "global" as *;

.p-service{
  background-color: $bg_yellow_green;
  padding: myrem(100) 0 myrem(136);
  
  
  @include mq("md"){
    padding: myrem(217) 0 myrem(172);
  }
}
.p-service__contents{
  margin-top: myrem(40);
  
  @include mq("md"){
    margin-top: myrem(56);
  }
}