@use "global" as *;

.p-service{
  background-color: $bg_yellow_green;
  padding: rem(100) 0 rem(136);
  
  
  @include mq("md"){
    padding: rem(217) 0 rem(172);
  }
}
.p-service__contents{
  margin-top: rem(40);
  
  @include mq("md"){
    margin-top: rem(56);
  }
}